header{
    border: solid black 2px;
    position: absolute;
    width: 100%;
    height: 35px;
    top: 0px;
    right: 0px;
    background-color: rgba(36, 36, 36, 0.562);
    text-align: center;
}

body{
    margin-top: 45px;
}

.redondita{
    border-radius:5%;
}
