body {
    font-family: Arial, sans-serif;
    background-color: #c3e6cb;
    
}
.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.button {
    background-color:aquamarine;
}
.resource {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resource img {
    width: 400px;
    margin-bottom: 10px;
}

.resource-info {
    text-align: center;
}